* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Geist", sans-serif;
}

body {
  background: #0b0c0c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

}
body::selection {
  background: #5eff01;
  color: #15743e;
}
@keyframes start {
  from {
    transform: translateY(100%);
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 1;
}
}

.header {
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  width: min(700px, 95%);
  display: flex;
  background: linear-gradient(to right, rgba(1, 1, 1, 0), rgb(13, 15, 15),rgba(1, 1, 1, 0));
  padding: 20px;
  animation: start .4s ease-out;
  transition: all .4s;
}
.centered {
  height: auto;
  width: min(350px, 70%);
  padding-left: 8px;
  flex-grow: 1;  
}
.centered h2 {
  text-align: start;
  font-weight: 500;
  color: #e5e5eb;
}
.centered h3 {
  color: #7e7e83;
  margin-bottom: 10px;
  margin-top: 6px;
  font-weight: 400;
}
.centered p a{
  text-align: start;
  margin-top: 30px;
  color: #e5e5eb;
  font-weight: 400;
  text-decoration: none;
  padding: 6px;
  margin-left: -6px;
  border-radius: 4px;
}
.centered p a:hover {
  background: #5eff01;
  color: #15743e;
}
.centered p a:active {
  background: black;
}
.left1 {
  width: auto;
  height: auto;
  display: flex;
  padding-left: 8px;
  justify-content: start;
}
.left1 h1 {
  font-size: 4rem;
  color: #e5e5eb;
  font-style: italic;
}
.left1 p {
  font-size: 1rem;
  color: #e5e5eb;
  margin-left: -3px;
}
.tooltip {
  position: relative;
  cursor: pointer;
  transition-delay: 1s;
}
